.value {
  display: flex;
  align-items: center;
}

.valueTitle {
  margin-right: 10px;
}

.headerCard {
  width: 212px;
  height: 312px;
  padding: 0;
  margin: 12px;
}

.headerCard:hover {
  border: 1px solid #d9d9d9;
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 204px;
  height: 302px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container-button {
  width: 225px;
}
